VITE_SUPABASE_URL=https://mputkshlqysykwhyiwyc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1wdXRrc2hscXlzeWt3aHlpd3ljIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4MDk3OTUsImV4cCI6MjA5MjM4NTc5NX0.jzuMklA9OVx08iYQyiUszhjtE_eeuw1m1gSXtAPKx8U